/* Focus */
.focus {
    margin: 50px 0;
    color: #0D134E;
    min-width: 400px;
}

.outside {
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 0px 25px 10px #F6F4FD;
    border-radius: 2px;
    padding: 20px;
    flex-wrap: wrap;
}

.focus-left {
    padding: 0px 30px 120px 30px;
    min-width: 300px;
    width: 50%;
    max-width: 450px;
}

.focus-right {
    padding: 30px 50px;
}

.img-focus {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-focus img {
    height: 50%;
    width: 50%;
    padding: 30px;
}

.img-dot img {
    height: 70%;
    width: 70%;
    background-color: #F6F7FB;
    padding: 10px;
}

.focus .slick-dots {
    bottom: -100px;
    width: 100%;
}

.focus .slick-dots.slick-thumb li {
    width: 20%;
    height: 20%;
    margin: 0 3px;
    transition: all 0.5s ease-in-out;
}

.focus span {
    color: #FB2E86;
    text-decoration: line-through;
}

.focus-text {
    padding: 30px 0;
}

.tags-box {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.tag {
    font-size: 16px;
    background: #F6F4FD;
    padding: 5px;
    border-radius: 10px;
    color: #0D0E43;
}

.tags-box h5 {
    margin: 0;
}

.focus-option {
    display: flex;
    align-items: center;
    gap: 15px;
}

.focus-option img {
    height: 20px;
    padding: 8px;
    border-radius: 50%;
    box-shadow: 0px 8px 40px rgba(52, 52, 53, 0.13);
}

/* ProductIn4 */
.product-in4 {
    padding: 30px 150px;
    background: #F9F8FE;
    color: #151875;
}

.product-in4 h3 {
    text-decoration: underline;
}

.product-in4 p {
    font-size: 1rem;
    color: #A9ACC6;
    line-height: 160%;
}

.product-in4 li {
    font-size: 1rem;
    color: #A9ACC6;
}

.product-in4 ul li::marker {
    color: #151875;
}

/* Related */
.related {
    margin: 50px 0;
}

.related-list {
    display: grid;
    grid-template-columns: repeat(4, minmax(120px, 1fr));
    overflow: hidden;
    padding: 20px;
    gap: 30px;
}

.related-card-img {
    background: #def0ee;
    padding: 10px;
    height: 18vmax;
    display: flex;
    align-items: center;
    justify-content: center;
}

.related-list img {
    height: 12vmax;
}

.related-card-text {
    padding: 0 10px 10px 10px;
    color: #101750;
}

.related-card-text p {
    font-size: 1rem;
    margin: 0;
}

.related-card:hover {
    box-shadow: 0px 0px 25px 15px #f2f1f7;
}

@media only screen and (max-width: 768px) {

    /* ProductIn4 */
    .product-in4 {
        padding: 30px 25px;
    }
}

@media only screen and (max-width: 520px) {
    
}