/* Promotion */
.promotion {
  background: #F2F0FF;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0 20px 20px 20px;
}

.promotion-img1 {
  width: 18%;
  min-width: 80px;
}

.promotion-img2 {
  padding: 35px 0;
  margin: auto;
  width: 28vmax;
}

.promotion-text {
  min-width: 200px;
  margin: auto 20px;
}

.promotion-text h1 {
  font-size: 45px;
  margin: 0;
}

.promotion-text p {
  line-height: 150%;
}

/* FeaturedProduct */
.featured {
  text-align: center;
  margin: 100px 0px;
  color: #151875;
  min-width: 360px;
}

.featured-card {
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  font-weight: 400;
  margin: 25px;
}

.featured-card-img {
  background: #F6F7FB;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px 10px 10px;
  height: calc(12vmin + 12vmax + 50px);
}

.featured-img {
  height: calc(7vmin + 7vmax);
}

.featured-card-img .icon-hover {
  margin-right: auto;
}

.icon-hover {
  visibility: hidden;
  align-items: center;
  display: flex;
  gap: 10px;
}

.btn-detail {
  visibility: hidden;
  width: 90px;
  height: 30px;
  background: #08D15F;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  color: white;
  margin: 5px;
}

.featured-card:hover .featured-card-in4 {
  background: #2F1AC4;
  color: white;
}

.featured-card:hover .icon-hover,
.featured-card:hover .btn-detail {
  visibility: visible;
}

.featured-card-in4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #151875;
  height: 100px;
}

.featured-card-in4 * {
  margin: 5px 10px;
}

.featured-card-in4 p {
  font-size: 0.9rem;
}

/* Category */
.category {
  text-align: center;
  margin: 100px 0px;
  min-width: 360px;
}

.category h1 {
  color: #151875;
}

.list-categories {
  margin: 20px 0;
}

.card-category {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}

.round {
  position: relative;
  /* Add position relative to create a stacking context */
  background: #edeef1;
  border-radius: 50%;
  box-shadow: 0px 8px 40px rgba(107, 107, 110, 0.212);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  height: 15vw;
  width: 15vw;
  min-height: 100px;
  min-width: 100px;
}

.round img {
  height: 9vw;
  min-height: 68px;
}

.round::after {
  content: "";
  position: absolute;
  top: -2px;
  /* Adjust the top value as needed */
  left: -6px;
  /* Adjust the left value as needed */
  right: -2px;
  /* Adjust the right value as needed */
  bottom: -6px;
  /* Adjust the bottom value as needed */
  background: #9877E7;
  border-radius: 50%;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.card-category:hover .round::after {
  opacity: 1;
}

.card-category:hover .btn-detail {
  visibility: visible;
}

/* Update */
.update {
  background: url('../images/Rectangle 102.png') no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 120px;
}

/* Unique */
.unique {
  background: #F1F0FF;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 40px;
}

.unique img {
  width: 30vmax;
}

.unique-content {
  max-width: 600px;
}

.unique h1 {
  color: #151875;
}

.unique ul li::marker {
  font-size: 38px;
  /* Notice line-height */
}

.unique ul li:first-child::marker {
  color: #FB2E86;
  /* Color for the first bullet point */
}

.unique ul li:nth-child(2)::marker {
  color: #2B2BF5;
  /* Color for the second bullet point */
}

.unique ul li:nth-child(3)::marker {
  color: #2BF5CC;
  /* Color for the third bullet point */
}

.btn-add {
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap: 20px;
  line-height: 0%;
}

.btn-add p {
  font-size: 15px;
  color: #FB2E86;
}

.unique .item-note {
  min-width: 120px;
}

@media only screen and (max-width: 768px) {

  /* Update */
  .update {
    padding: 120px 25px;
  }

  /* Promotion */
  .promotion {
    padding: 0 5px 20px 0px;
  }

  .promotion-text h1 {
    font-size: 24px;
  }

  .promotion-text p {
    font-size: 14px;
  }

  /* Unique */
  .unique {
    padding: 10px 5px;
  }

  .unique img {
    width: 25vmax;
  }

  .unique h1 {
    font-size: 24px;
  }

  .unique li {
    font-size: 14px;
  }

  /* FeaturedProduct */
  .featured {
    margin: 80px 5px;
  }

  .featured-card {
    margin: 15px;
  }

  .featured-card-in4 h4 {
    font-size: 16px;
  }

  /* Category */
  .category {
    margin: 80px 5px;
  }
}

@media only screen and (max-width: 520px) {

  /* Promotion */
  .promotion-img2 {
    display: none;
  }
}