body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  color: #0D0E43;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 270px;
  /* Footer height */
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #EEEFFB;
}

.container {
  padding: 0 150px;
}

a {
  text-decoration: none;
}

a:hover {
  color: #FB2E86;
}

button {
  color: white;
  background: #FB2E86;
  border-radius: 2px;
  border: none;
  padding: 15px 40px;
  cursor: pointer;
}

.pink {
  color: #FB2E86;
}

.deepblue {
  color: #2B2BF5;
}

.lightblue {
  color: #2BF5CC;
}

.gray {
  color: #8A8FB9;
}

.left,
.right {
  width: 50%;
}

.right {
  margin-left: auto;
}

.left {
  margin-right: auto;
}

.long {
  grid-column: span 2;
  /* This makes the third div span two columns */
}

.btn {
  cursor: pointer;
}

input,
textarea {
  outline: none;
  border: none;
}

input::placeholder,
textarea::placeholder {
  font-family: 'Lato', sans-serif;
  color: #8A8FB9;
}

/* HeadingBar */
.heading-bar-outer {
  position: fixed;
  z-index: 100;
  height: 44px;
  width: 100%;
}

.heading-bar {
  color: #F1F1F1;
  background: #7E33E0;
  display: flex;
  justify-content: flex-end;
}

.heading-bar ul {
  display: flex;
  list-style: none;
  align-items: center;
  margin: 0;
}

.heading-bar li {
  color: white;
}

.heading-bar img {
  padding: 0 2px;
}

.heading-bar li,
.navbar li {
  padding: 5px;
}

.icon-cart {
  display: flex;
  align-items: flex-start;
  position: relative;
}

.cart-noti {
  height: 18px;
  width: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  background: red;
  border-radius: 50%;
  position: absolute;
  right: -5px;
  top: 2px;
}

/* Navbar */
.navbar-outer {
  padding-top: 44px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar a {
  color: #151875;
}

.navbar a:hover {
  color: #FB2E86;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin-right: 20px;
}

.form-search {
  margin-left: auto;
}

.search {
  display: flex;
  align-items: center;
  height: 40px;
}

.search input {
  border: none;
  font-size: 1rem;
  border: 1px solid #E7E6EF;
  height: 38px;
  width: 220px;
}

.search input:focus {
  outline: none;
}

.btn-search {
  border: none;
  padding: 0;
  height: 42px;
  width: 42px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  color: #151875;
  cursor: pointer;
}

.dropdown:hover .dropdown-toggle {
  color: #FB2E86;
}

.dropdown-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 100%;
  left: 0;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-menu li {
  padding: 8px 10px;
  cursor: pointer;
  color: #151875;
}

.dropdown-menu li:hover {
  background-color: #f0f0f0;
}

/* Footer */
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 20px;
  gap: 40px;
}

.footer p {
  font-size: 1rem;
  color: #8A8FB9;
}

.footer h1 {
  color: #FB2E86;
  text-shadow: 0px 2px 0px #0D0E43;
}

/* Service */
.service {
  text-align: center;
  margin: 100px 20px;
}

.service h1 {
  color: #151875;
}

.list-services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  gap: 40px;
  padding: 50px 0;
}

.card-service {
  padding: 20px;
  box-shadow: 0px 8px 40px rgba(49, 32, 138, 0.05);
}

/* Done */
.done {
  text-align: center;
  margin: 60px 80px;
  line-height: 150%;
  background: url('../images/Frame5.png') no-repeat;
  background-size: auto;
  min-height: 400px;
}

.done * {
  margin: 20px;
}

.done p {
  color: #8D92A7;
  font-size: 1rem;
}

/* Loading */
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0a0b42e3;
}

.circle {
  border: 3px solid hsla(323, 100%, 62%, 0.356);
  border-top-color: #FB2E86;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* NotFound */
.not-found {
  text-align: center;
  color: #152970;
  margin-bottom: 50px;
}

.not-found img {
  width: 60%;
}

/* Notification */
.overlay {
  position: fixed;
  z-index: 9999;
  top: 65px;
  right: 0px;
}

.notification {
  background-color: #ffffff;
}

.noti-content {
  width: 200px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  background: #7e33e02a;
  border-left: 4px solid #FB2E86;
  right: -200px;
  transition: right 1s ease;
}

.show-notification .noti-content {
  right: 0;
}

.noti-content p {
  font-size: 15px;
  margin: 5px;
  text-align: center;
}

/* custom Slider */
.slick-prev:before,
.slick-next:before {
  color: #8383838f;
}

.slick-dots li.slick-active button:before {
  color: #FB2E86;
}

.slick-dots li button:before {
  color: #FB2E86;
}

@media only screen and (max-width: 1024px) {

  /* Navbar */
  .search {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 0px 25px;
  }

  /* Navbar */
  .navbar {
    padding: 0 5px;
  }

  .navbar ul {
    padding-left: 10px;
    margin: 0;
  }

  /* Footer */
  .footer {
    gap: 15px;
  }

  /* Service */
  .service {
    margin: 60px 0px;
  }

  .list-services {
    padding: 0;
    gap: 15px;
  }

  .card-service {
    padding: 10px;
  }

  /* Done */
  .done {
    margin: 40px 10px;
  }
}